.btn {
  width: 23%;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 2%;
}
  
.btn-success {
  margin-left: 15%;
}

.fa-eraser {
  position: relative;
  display: inline;
  font-size: 28px;
  margin-left: 70%;
  cursor: pointer;
}

.filter-header {
  width: 100%;
}

.fa-download {
  position: absolute;
  font-size: 32px;
  margin-left: 8%;
  margin-top: 1.5%;
  cursor: pointer;
}

.weather-table {
  margin-top: 2%;
}

.fa-map-marker {
  position: absolute;
  margin-left: 44%;
  font-size: 49px;
  margin-top: 0.3%;
  color: red;
  cursor: pointer;
}