<form style="border:1px solid #ccc">
  <div class="imgcontainer">
    <img [src]="imgPath" alt="Avatar" class="avatar">
  </div>
  <p class="error-message" *ngIf="showMessage">Please provide valid credentials to continue.
  </p>
  <p class="error-message" *ngIf="apiResponseError">Invalid credentials or some error has occurred.</p>
  <div class="form-group">
    <label for="uname"><b>Username</b></label>
    <input type="text" class="form-control" placeholder="Enter Username" name="uname" [(ngModel)]="userLogin.username">
  </div>
  <div class="form-group">
    <label for="password"><b>Password</b></label>
    <input type="password" class="form-control" placeholder="Enter Password" name="password"
      [(ngModel)]="userLogin.password">
  </div>
  <button type="button" class="btn btn-success" (click)="login()">Login</button>
  <button type="button" (click)="navigate(registerPath)" class="btn btn-primary">Sign Up</button>
</form>